@model IEnumerable<RidingApp.DataAccess.Entities.ApplicationUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

          <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title mb-30">
                  <a href="/Chauffeur/CreateChauffeur" class="main-btn primary-btn btn-hover"> Create New </a>
                </div>
              </div>
              <!-- end col -->
              <div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="#0">Dashboard</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">

                      </li>
                    </ol>
                  </nav>
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- ========== title-wrapper end ========== -->
          <div class="row">
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <div class="icon-card mb-30">
                <div class="icon purple">
                  <i class="lni lni-cart-full"></i>
                </div>
                <div class="content">
                  <h6 class="mb-10">New Ride</h6>
                  <h3 class="text-bold mb-10">34567</h3>
                  <p class="text-sm text-success">
                    <i class="lni lni-arrow-up"></i> +2.00%
                    <span class="text-gray">(30 days)</span>
                  </p>
                </div>
              </div>
              <!-- End Icon Cart -->
            </div>
            <!-- End Col -->
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <div class="icon-card mb-30">
                <div class="icon success">
                  <i class="lni lni-dollar"></i>
                </div>
                <div class="content">
                  <h6 class="mb-10">Total Income</h6>
                  <h3 class="text-bold mb-10">$74,567</h3>
                  <p class="text-sm text-success">
                    <i class="lni lni-arrow-up"></i> +5.45%
                    <span class="text-gray">Increased</span>
                  </p>
                </div>
              </div>
              <!-- End Icon Cart -->
            </div>
            <!-- End Col -->
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <div class="icon-card mb-30">
                <div class="icon primary">
                  <i class="lni lni-credit-cards"></i>
                </div>
                <div class="content">
                  <h6 class="mb-10">Total Expense</h6>
                  <h3 class="text-bold mb-10">$24,567</h3>
                  <p class="text-sm text-danger">
                    <i class="lni lni-arrow-down"></i> -2.00%
                    <span class="text-gray">Expense</span>
                  </p>
                </div>
              </div>
              <!-- End Icon Cart -->
            </div>
            <!-- End Col -->
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <div class="icon-card mb-30">
                <div class="icon orange">
                  <i class="lni lni-user"></i>
                </div>
                <div class="content">
                  <h6 class="mb-10">New User</h6>
                  <h3 class="text-bold mb-10">34567</h3>
                  <p class="text-sm text-danger">
                    <i class="lni lni-arrow-down"></i> -25.00%
                    <span class="text-gray"> Earning</span>
                  </p>
                </div>
              </div>
              <!-- End Icon Cart -->
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->

<!-- Start Row  -->
                    <div class="row">
                       
                      <div class="col-lg-12">
                        <!-- start Rank Table -->
                        <div class="card-style mb-30">
                          <h6 class="mb-8"></h6>
                          <!-- <p class="text-sm mb-20">
                            Use one of two modifier classes to make thead appear light
                            or dark gray.
                          </p> -->
                          <div class="table-wrapper table-responsive">
                            <table class="table striped-table">
                              <thead>
                                <tr>
                                  <th>Role</th>
                                  <th><h6>Name</h6></th>
                                  <th><h6>Email</h6></th>
                                  <th><h6>PhoneNumber</h6></th>
                                  <th><h6>Status</h6></th>
                                  <th><h6></h6></th>
                                </tr>
                                <!-- end table row-->
                              </thead>
                              <tbody>
                        @if( Model != null)
                        {
                          @foreach (var item in Model)
                                {
                                <tr>
                                  <td>
                                    <h6 class="text-sm">@item.Role</h6>
                                  </td>
                                  <td>
                                    <p>@item.FirstName @item.LastName </p>
                                  </td>
                                  <td>
                                    <p>@item.Email</p>
                                  </td>
                                  <td>
                                    <p>@item.PhoneNumber</p>
                                  </td>
                                   <td>
                                    @item.Status
                                </td>
                                  <td>
                                    <div class="action justify-content-end">
                                      <a asp-controller="Chauffeur" asp-action="ChauffeurDetails" asp-route-id="@item.Id" class="edit">
                                        <i class="lni lni-eye"></i>
                                      </a>
                                      <button
                                        class="more-btn ml-10 dropdown-toggle"
                                        id="moreAction1"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"
                                      >
                                        <i class="lni lni-more-alt"></i>
                                      </button>
                                      <ul
                                        class="dropdown-menu dropdown-menu-end"
                                        aria-labelledby="moreAction1"
                                      >
                                        <li class="dropdown-item">
                                          <a href="#0" class="text-gray">Remove</a>
                                        </li>
                                        <li class="dropdown-item">
                                          <a asp-controller="Manage" asp-action="UpdateUser" asp-route-userId="@item.Id" class="text-gray">Edit</a>
                                        </li>
                                      </ul>
                                    </div>
                                  </td>
                                </tr> 
                           } 
                        }


                                <!-- end table row -->
                              </tbody>
                            </table>
                            <!-- end table -->
                          </div>
                        </div>
                        <!-- end card -->
                      </div>
                      </div>
                      <!-- End Col -->
                    </div>
                    <!-- End Row -->