@model MinilaDataAcess.Model.TripRequest
@{
    ViewData["Title"] = "TripRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
   <form asp-action="EditTripRequest" method="post">
         <div class="d-flex justify-content-between">
                          <input type="text" value="@Model.ChauffeurId" id="ChauffeurId" name="ChauffeurId" hidden/>
                          <input type="text" value="@Model.StudetID" id="StudetID" name="StudetID" /> 
                          <input type="text" value="@Model.lat" id="lat" name="lat" />
                          <input type="text" value="@Model.lag" id="lag" name="lag" />
                          <input type="text" value="@Model.location" id="location" name="location" />
                          <input type="text" value="@Model.road" id="road" name="road" />
                          <input type="text" value="@Model.status" id="status" name="status" />
                           <input type="text" value="@Model.RequestTime" id="CreateDate" name="CreateDate" hidden/>
                           <input type="text" value="@Model.RequestTime" id="RequestTime" name="RequestTime" hidden />
                          <input type="submit" value="Send Confirm" class="main-btn primary-btn btn-hover" />
                    </div>
   </form>